{% extends 'hospital/base.html' %}
{% block title %} welcome | {{request.user.first_name}} {% endblock %}

{% block content %}
<style>
        .bg-card{
                background: rgb(221,174,238);
                background: linear-gradient(201deg, rgba(221,174,238,1) 17%, rgba(148,187,233,1) 100%);
        }

        .info-card{
                background: rgb(208,39,39);
background: linear-gradient(231deg, rgba(208,39,39,0.6811099439775911) 7%, rgba(0,52,113,1) 100%);
}
        
</style>
<div class="container mt-5">
    <div class="">
            <div class="row  border rounded info-card shadow m-1 p-2">
                    <div class="col-md-4 d-flex justify-content-center">
                            <div class="">
                                    <div class="rounded border picture rounded-circle">
                                                <img src="{{user_profile.photo.url}}" style="height:100%;width: 100px;" class="shadow img-cover rounded-circle" alt="">
                                    </div>
                            </div>
                    </div>
                    <div class="col-md-5 d-flex align-content-center ">
                            <div class="mt-4">
                                    <div class="">
                                            <p class="m-0 text-light"><strong>Name : </strong><b>{{user_profile.user.first_name}} {{user_profile.user.last_name}}</b></p>
                                            <small class="mt-1 text-light"><strong>Username : </strong><b>{{user_profile.user.username}}</b></small>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
        <div class="row">
                <div class="col-md-4">
                        <hr>
                                <strong>Basic Details</strong>
                        <hr>
                        <div class="">
                                <div class="assign-doc">
                                
                                        <address class="m-0"><small class="m-0"><strong>Address :</strong> {{user_profile.address}}</small></address>                        
                                        <p class="m-0"><small class="m-0"><strong>Email :</strong> {{user_profile.user.email}}</small></p>
                                </div>
                        </div>
                </div>
                <div class="col-md-8">
                        <hr>
                                <strong>Patient Details</strong>
                        <hr>
                        <div class="row">
                                {% for patient in data_patient %}
                                        <div class="col-md-6">
                                                <div class="card border bg-card rounded p-2 shadow  mb-2">
                                                        <div class=" ">
                                                                <div class="position-">
                                                                        <div class=" picture rounded-circle text-center">
                                                                                <img src="{{patient.photo.url}}" style="height:100%;width: 50px;" class="shadow img-cover rounded-circle" alt="">
                                                                        </div>
                                                                </div>
                                                                
                                                        </div>
                                                                
                                                        <div class="mt-4">
                                                                <div class="">
                                                                        <p class="m-0 text-light"><strong>Name : </strong>{{patient.user.first_name}} {{patient.user.last_name}}</p>
                                                                        <small class="mt-1 text-light"><strong>Username : </strong>{{patient.user.username}}</small>
                                                                        <address class="m-0 text-light"><small class="m-0"><strong>Address : </strong>{{patient.address}}</small></address>                        
                                                                        <p class="m-0 text-light"><small class="m-0"><strong>Email : </strong>{{patient.user.email}}</small></p>
                                                                </div>
                                                        </div>
                                                
                                                </div>
                                        </div>
                                {% endfor %}    

                                
                        </div>
                </div>
                
                
        </div>
</div>    

{% endblock %}