{% extends 'hospital/base.html' %}
{% block title %} welcome | {{request.user.first_name}} {% endblock %}

{% block content %}
<style>
        .bg-card{
                background: rgb(221,174,238);
                background: linear-gradient(201deg, rgba(221,174,238,1) 17%, rgba(148,187,233,1) 100%);
        }

        .info-card{
                background: rgb(208,39,39);
                background: linear-gradient(231deg, rgba(208,39,39,0.6811099439775911) 7%, rgba(0,52,113,1) 100%);
        }   
        .blog_card_bg{
            background: linear-gradient(90deg, #00d0ffb1 0%, #3a47d5a0 100%);
        }
        
        .draf-card{
            background: linear-gradient(90deg, #7688b3 0%, #182848 100%);
        }
        .badge{
            background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        }
        
</style>
<div class="container mt-5">
    <div class="">
            <div class="row  border rounded info-card shadow m-1 p-2">
                    <div class="col-md-4 d-flex justify-content-center">
                            <div class="">
                                    <div class="rounded picture rounded-circle">
                                                <img src="{{user_profile.photo.url}}" style="height:100%;width: 100px;" class="shadow-light img-cover rounded-circle" alt="">
                                    </div>
                            </div>
                    </div>
                    <div class="col-md-5 d-flex align-content-center ">
                            <div class="mt-4">
                                    <div class="">
                                            <p class="m-0 text-light"><strong>Name : </strong><b>{{user_profile.user.first_name}} {{user_profile.user.last_name}}</b></p>
                                            <small class="mt-1 text-light"><strong>Username : </strong><b>{{user_profile.user.username}}</b></small>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
        <div class="row">
                <div class="col-md-4">
                        <hr>
                                <strong>Basic Details</strong>
                        <hr>
                        <div class="">
                                <div class="assign-doc">
                                
                                        <address class="m-0"><small class="m-0"><strong>Address :</strong> {{user_profile.address}}</small></address>                        
                                        <p class="m-0"><small class="m-0"><strong>Email :</strong> {{user_profile.user.email}}</small></p>
                                </div>
                        </div>
                </div>
                <div class="col-md-8">
                        <hr>
                                <strong>Patient Details</strong>
                        <hr>
                        <div class="row">
                                {% for patient in data_patient %}
                                        <div class="col-md-6">
                                                <div class="card border bg-card rounded p-2 shadow  mb-2">
                                                        <div class=" ">
                                                                <div class="position-">
                                                                        <div class=" picture rounded-circle text-center">
                                                                                <img src="{{patient.photo.url}}" style="height:100%;width: 50px;" class="shadow img-cover rounded-circle" alt="">
                                                                        </div>
                                                                </div>
                                                                
                                                        </div>
                                                                
                                                        <div class="mt-4">
                                                                <div class="">
                                                                        <p class="m-0 text-light"><strong>Name : </strong>{{patient.user.first_name}} {{patient.user.last_name}}</p>
                                                                        <small class="mt-1 text-light"><strong>Username : </strong>{{patient.user.username}}</small>
                                                                        <address class="m-0 text-light"><small class="m-0"><strong>Address : </strong>{{patient.address}}</small></address>                        
                                                                        <p class="m-0 text-light"><small class="m-0"><strong>Email : </strong>{{patient.user.email}}</small></p>
                                                                </div>
                                                        </div>
                                                
                                                </div>
                                        </div>
                                {% endfor %}    

                                
                        </div>
                </div>
                
                
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col-md-8 ">
                    <hr class="mb-2">
                            <a href="{% url 'blog_create' %}" class=" uk-card-hover text-decoration-none text-light rounded-1 float-end  ps-3 pe-3 pt-2 pb-2 bg-primary bg-opacity-75 mt-0 mb-2" style="top:-1rem">
                                <strong>Create blog <i class="bi bi-plus-square-fill"></i></strong>
                            </a>
                            <p class = " mt-3"><strong class="">{% if user.is_staff or is_admin == True%}Published by you {% else %} New blogs {%endif %}<span class="uk-badge">New</span></strong></p>
                        
                    <hr class="mt-4">
                    <div class="row">
                        {% for blog in blogs %}
                            {% if blog.is_published == True %}
                                <div class="col-md-6 ">
                                    <div class=" blog_card_bg m-1 p-3 rounded uk-box-shadow-medium mb-2 uk-card-hover">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{{ blog.blog_image.url }}" style="height:auto;width: auto; top: 50%;" class=" shadow img-cover rounded-circle text-center" alt="">
                                            </div>
                                            <div class="col-md-9">
                                                <h5 class="text-light text-capitalize" "><a href="{{blog.get_absolute_url}}" class="text-decoration-none text-light"><strong>{{ blog.title }}</strong></a></h5>
                                                <p class="text-light m-0">{{ blog.summary | truncatechars:15}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="col-md-4">
                    <hr>
                    <h4 class=" border-0 badge ps-3 pe-3 pt-2 pb-2 m-0">
                        <strong>Saved as draft </strong> <span class="text-light">0</span>
                    </h4>
                    <hr>
                    <div class="row">
                        {% for blog in draft_blogs %}
                        <div class="col-md-12 ">
                            <div class=" blog_card_bg m-1 p-3 rounded uk-box-shadow-medium mb-2 uk-card-hover">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{ blog.blog_image.url }}" style="height:auto;width: auto; top: 50%;" class=" shadow img-cover rounded-circle text-center" alt="">
                                    </div>
                                    <div class="col-md-9">
                                        <h5 class="text-light text-capitalize" "><a href="{{blog.get_absolute_url}}" class="text-decoration-none text-light"><strong>{{ blog.title }}</strong></a></h5>
                                        <p class="text-light m-0">{{ blog.summary | truncatechars:15}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
            </div>
        </div>
</div>    

{% endblock %}